.container-table1 {
  width: 80%;
  margin-left: 25vh;
  margin-top: 35vh;
}

.container-input-search1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin-left: 12vw;
  margin-top: 5%;
}

.input-search1 {
  width: 30%;
  border-style: solid;
  position: absolute;
  margin-left: 12vw;
  margin-top: -21%;
  background-color: gainsboro;
  
}

.colTable{
  display: flex; 
  justify-content: center;
  flex-direction: row;
}
