* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    margin: 0;
}

button,
input[type='button'] {
    cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

input, textarea {
    border: none;
}

button {
    border: none;
    background: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

.table-responsive {
    padding-right: 1px;
}

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.title-1 {
 
    font-weight: bold;
    font-size: 35px;
    color: #545353;
}

.title-2 {
  
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
}

.title-3 {
   
    font-weight: 400;
    font-size: 24px;
    color: #333;
}

.title-4 {
    font-weight: bold;
    font-size: 25px;
    color: #545353;
}

.title-5 {
     font-size: 15px;
    font-weight: 500;
    color: #009CD8;
    font-weight: bold;
}

.title-6 {
    
    font-size: 15px;
    font-weight: 500;
    color: black;
    font-weight: bold;
    margin: 15px;
}


.row-casos {
    margin-top: 30px;
    width: 1000px;
}


/*Page Objects*/
.page-wrapper {
    overflow: hidden;
    background: #e5e5e5;
    
}

@media (max-width: 991px) {
    .page-wrapper {
    overflow: auto;
    background: #e5e5e5;
    padding-bottom: 12vh;
}
}
.page-container {
    background: #e5e5e5;
    
}

@media (max-width: 991px) {
    .page-container {
        position: relative;
        top: 88px;
        padding-left: 0;
    }
}

.page-container2 {
    background: #f2f2f2;
    padding-left: 300px;
}

@media (max-width: 991px) {
    .page-container2 {
        position: relative;
        padding-left: 0;
    }
}

.page-container3 {
    background: #f7f7f7;
}

.main-content {
    padding-top: 116px;
    min-height: 100vh;
   
}

@media (max-width: 991px) {
    .main-content {
        padding-top: 50px;
	padding-bottom: 100px;
    }
}

.page-content--bgf7 {
    background: #f7f7f7;
}

.page-content--bge5 {
    background: #e5e5e5;
    height: 100vh;
}

/* ----- Input ----- */
.au-input {
    line-height: 43px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #666;
    padding: 0 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

@media (max-width: 1600px) {
    .au-input--xl {
        min-width: 350px;
      
    }
}

@media (max-width: 991px) {
    .au-input--xl {
        min-width: 350px;
        
    }
}

@media (max-width: 767px) {
    .au-input--xl {
        min-width: 150px;
    
    }
}

.au-btn--submit {
    position: relative;
    right: 0;
    min-width: 60px;
    height: 50px;
    line-height: 43px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #009CD8;
    margin-left: 1px;
    
}

.au-btn--submit:hover {
    background: #545353;
}

/* ----- Header ----- */
.header-desktop {
    background: #f5f5f5;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 300px;
    height: 75px;
    z-index: 3;
    margin-left: -300px;
}

.header-desktop .section__content {
    overflow: visible;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991px) {
    .header-desktop {
        position: relative;
        top: 0;
        left: 0;
        height: 170px;
    }
}




.logo {
    margin-left: 250px;
    margin-top: -70px;
    width: 100px;
}

.header-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 200px;
}


.account-item .image {
    width: 45px;
    height: 45px;
    float: left;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 250px;
    margin-top: 20px;
}
/* ----- Card ----- */
.au-card {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 40px;
    padding-right: 35px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    margin-top: 20px;
}


.section__content {
    margin-top: -20px;
}

.menu {
    margin-top: -35px;
}

.Icons {
    margin-left: 800px;
  
}

.edit {
    margin-top: -250px;
}

.overview-wrap {
    margin-top: 20px;
}

.au-card-inner {
    height: 100px;
}

.container-fluid {
    margin-left: 200px;
}

.overview-wrap {
    margin-left: 20px;
}

.form-header {
    margin-top: 10px;
}