.container-coments {
  background-color: #828282;
  position: relative;
  margin-top: 4%;
  width: 50%;
  height: 26vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 300px;
}

.input-wall {
  width: 80%;
  border-radius: 20px;
  height: 7vh;
  margin-left: 3%;
}

.user-pic2 {
 
  display: flex;
  flex-direction: row;
}
.icon-user2 {
  transform: rotate(360deg);
  font-size: 2.5rem;
  margin-left: 5%;
  margin-top: 5%;
}

.filescoment {
  
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
        font-size: 0.8rem;
      
    }

.textWallBox {
  width: 42vw;
  font-size: 0.8rem;
  margin-left: 14%;
}

.text3 {
  font-size: 0.8rem;
  padding-top: 6%;
  width: 28%;
  margin-left: 3%;
  color: white;
  font-weight: bold;
}


